body {
    height: auto;
    margin: 0;
    margin-top: 100px;
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
    line-height: 4;
    background: url(../App_Images/font.jpg);
    text-decoration: none;
}

a {
    color: #aae6fe;
}

    a:hover {
        color: #00b7ff;
    }

.back-link {
    font-size: 20px;
}

*,
*:before,
*:after {
   box-sizing: border-box;
}

.container-sheet {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*Tabel*/

/* color and configs */

.table-cc {
    width: 100%;
    height: auto;
    text-align: left;
    vertical-align: middle;
    background-color: #000000;
    opacity: 1;
    margin-top: 50px;
    margin-bottom: 25vh;
    border-top: 1px solid #ffffff;
}

.td-cc {
    font-size: 30px;
    padding-left: 40px;
}

.tr-cc {
    border-bottom: 1px solid #ffffff;
}

.th-cc {
    color: #aae6fe;
    font-size: 20px;
    text-align: center;
}

/* Header */

h1 {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 45px;
}

h2 {
    text-align: center;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 45px;
    color: #aae6fe;
}

/* determination */

dt {
    display: inline-block;
    margin: 20px;
    vertical-align: middle;
    font-size: 30px;
    color: #aae6fe;
}

dl,
dd {
    display: inline-block;
    margin: 20px;
    vertical-align: middle;
    font-size: 30px;
    line-height: 2;
}