.renault-small-icon {
    margin: 10px;
    height: 310px;
    width: 560px; 
}

.audi-small-icon {
    margin: 10px;
    height: 200px;
    width: 600px;
}

/* brand and models */
.table-model {
    width: 100%;
    height: auto;
    vertical-align: middle;
    text-align: left;
    background-color: #000000;
    opacity: 1;
    margin-top: 50px;
    margin-bottom: 25vh;
    border-top: 1px solid #ffffff;
}

.td-model {
    padding-left: 50px;
    font-size: 50px;
    text-align: center;
}

.tr-model {
    border-bottom: 1px solid #ffffff;
}

.div-empty {
    margin-top: 100px;
    font-size: 50px;
}