img{
    height: 520px;
    width: 900px;
    margin-left: 250px;
}

span {
    position: center;
    font-size: 25px;
    line-height: 2;
    background: #ffffff;
    opacity: 0.8;
    color: #000000;
    height: auto;
    width: 1300px;
    margin-left: 50px;
    padding-left: 15px;
}

.config-img{
    height: 250px;
    width: 550px;
}

.div {
    display: flex;
    justify-content: space-between;
}