.renault-small-icon {
    margin: 10px;
    height: 295px;
    width: 550px;
}

.audi-small-icon {
    margin: 10px;
    height: 200px;
    width: 640px;
}

.audi-e-tron-small-icon {
    margin: 10px;
    height: 250px;
    width: 440px;
}
/* brand and models */
.table-model {
    width: 100%;
    height: auto;
    vertical-align: middle;
    text-align: left;
    background-color: #000000;
    opacity: 1;
    margin-bottom: 10vh;
    border-top: 1px solid #ffffff;
}

.td-model {
    padding-left: 50px;
    font-size: 50px;
    text-align: center;
}

.tr-model {
    border-bottom: 1px solid #ffffff;
}

.div-empty {
    font-size: 50px;
}