.img-cfg-det-audi {
    height: 200px;
    width: 600px;
}

.img-cfg-det-renault {
    height: 380px;
    width: 600px;
}

.img-cfg-det-renault-koleos {
    height: 425px;
    width: 600px;
}

.img-cfg-det-audi-e-tron {
    height: 350px;
    width: 580px;
}