@using CarStore.Models
@model CarStore.Models.CarModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <meta name="viewport" content="width=device-width" />
    <link type="text/css" rel="stylesheet" href="../../Content/Site.css" />
    <link type="text/css" rel="stylesheet" href="../../Content/ViewsCSS/CarModelDetails.css" />
    <link href="https://fonts.googleapis.com/css?family=Baloo+Chettan+2|Barlow+Condensed:400,700|Open+Sans:400,700|Oswald:400,700&display=swap&subset=cyrillic-ext" rel="stylesheet">
</head>

<body>
    <div class="div-cfg">
        <h1>Details</h1>
        <a href="/Config/Index/@Model.Id">
            <h1>Configurate your car!</h1>
        </a>
    </div>
    <hr />
    <h2>@Model.Name</h2>
    @if (Model.BrandId == 1)
    {
        <a class="back-link" href="/CarModel/Index/1"> < Back to cars</a>
    }

    @if (Model.BrandId == 2)
    {
        <a class="back-link" href="/CarModel/Index/2"> < Back to cars</a>
    }

    @*////////////////*@
    @*RENAULT MEGANE*@
    @*/////////////*@

    @if (Model.Id == 1)
    {

        <div class="div-text">
            Start price from $15 070
            <br />
        </div>
        <br>
        <img class="img-renault" src="~/App_Images/renault-megane-view.jpg" alt="Megan view" />

        <hr />
        <div>
            <h2>Interior design</h2>
            <img class="img-renault" src="~/App_Images/renault-megane-inside-1.jpg" alt="Megane inside 1" />
            <hr />
            <div class="div-text">
                Appreciate its impeccable finish
                <br>
                Digital speedometer, ergonomic center console, large 8.7-inch comfortable vertical touch screen * and more.
                In the interior of the new Renault MEGANE Sedan you are at the center of the event.
                <br>
                * Depending on version
                <br>
            </div>
            <hr />
            <img class="img-renault" src="~/App_Images/renault-megane-inside-2.jpg" alt="Megane inside 2" />
        </div>

        <hr />
        <h2>Configurations</h2>

        <div class="div-cfg">
            <span class="span">1/3</span>
            <a href="/Config/Details/1">
                <img class="renault-config-img" src="~/App_Images/renault-megane-cfg-life.jpg" alt="Megane-configs-life-img" />
            </a>
            <span class="span">2/3</span>
            <a href="/Config/Details/3">
                <img class="renault-config-img" src="~/App_Images/renault-megane-cfg-zen.jpg" alt="Megane-configs-zen-img" />
            </a>
            <span class="span">3/3</span>
            <a href="/Config/Details/4">
                <img class="renault-config-img" src="~/App_Images/renault-megane-cfg-intense.jpg" alt="Megane-configs-intanse-img" />
            </a>
        </div>
        <hr />

    }


    @*RENAULT DUSTER*@
    @*/////////////*@

    @if (Model.Id == 2)
    {

        <div class="div-text">
            Start price from $15 210
            <br />
        </div>
        <br>
        <img class="img-renault" src="~/App_Images/renault-duster-view.jpg" alt="Duster view" />

        <hr />
        <div>
            <h2>Interior design</h2>
            <img class="img-renault" src="~/App_Images/renault-duster-inside-2 (2).jpg" alt="Duster inside 1" />
            <hr />
            <div class="div-text">
                The dynamic design of the all-new Duster will simply astound you.
                <br>
                All this thanks to a completely updated body, stylish rails and a grille.
                <br>
            </div>
            <hr />
            <img class="img-renault" src="~/App_Images/renault-duster-inside-1.jpg" alt="Duster inside 2" />
        </div>

        <hr />
        <h2>Configurations</h2>

        <div class="div-cfg">
            <span class="span">1/3</span>
            <a href="/Config/Details/5">
                <img class="renault-config-img" src="~/App_Images/renault-duster-cfg-life.jpg" alt="Duster-configs-life-img" />
            </a>
            <span class="span">2/3</span>
            <a href="/Config/Details/6">
                <img class="renault-config-img" src="~/App_Images/renault-duster-cfg-zen.jpg" alt="Duster-configs-zen-img" />
            </a>
            <span class="span">3/3</span>
            <a href="/Config/Details/7">
                <img class="renault-config-img" src="~/App_Images/renault-duster-cfg-intense.jpg" alt="Duster-configs-intanse-img" />
            </a>
            <hr />
        </div>
    }


    @*AUDI A7*@
    @*/////////////*@

    @if (Model.Id == 3)
    {
        <div class="div-text">
            Start price from $56050
            <br />
            Crazy and unpretentious or independent and aesthetic?
            For the Audi A7, both are correct.
            Elegant coupe-like design lines combine with the brute force of the V-shaped 'Eight' TFSI.
            Innovative technology is combined with intuitive dynamics.
            Enjoy the thrill of having no compromise.

        </div>

        <br />
        <img class="img-audi-wide" src="~/App_Images/audi-A-7-view-1(2).jpg" alt="A7-view-1" />

        <div>
            <hr />
            <h2>Impressive at first glance</h2>
            <div class="div-text">
                With its sporty roofline, the Audi A7 will be the center of attention in any environment.
                Wide "shoulders", clear "eyes", irresistible essence - the spectacular design looks quite convincing,
                from which side you would not look at it. Characteristic of the RS versions, the wide posture,
                LED strip and wide grille of the Singleframe radiator stand out as visual indications of outstanding dynamics.
            </div>
            <br>
            <img class="img-audi" src="~/App_Images/audi-A-7-view-2(2).jpg" alt="A7-view-2" />
        </div>

        <div>
            <hr />
            <h2>Interior design</h2>

            <div class="div-text">
                The Audi A7 lets you do this trick at any landing spot.
                For example, with RS sports seats with Valcona perforated leather upholstery with red honeycomb pattern,
                embossed A logo on the backs, and red-edged seat belts,
                also available for rear seat mounting.
                The spacious lounge allows you to enjoy sports aesthetics with all your family or friends.
                This allows you to speak against the routine of the whole company, which can number up to five people.
                And get away from him in a sporty style.

            </div>
            <br />
            <img class="img-audi" src="~/App_Images/audi-A-7-inside-1.jpeg" alt="A7-inside-1" />
        </div>

        <hr />
        <h2>Configurations</h2>

        <div class="div-cfg">
            <span class="span">1/3</span>
            <a href="/Config/Details/8">
                <img class="audi-config-img" src="~/App_Images/audi-A-7-cfg-base.png" alt="A7-configs-base-img" />
            </a>
            <span class="span">2/3</span>
            <a href="/Config/Details/10">
                <img class="audi-config-img" src="~/App_Images/audi-A-7-cfg-comfort.png" alt="A7-configs-comfort-img" />
            </a>
            <span class="span">3/3</span>
            <a href="/Config/Details/13">
                <img class="audi-config-img" src="~/App_Images/audi-A-7-cfg-premium.png" alt="A7-configs-premium-img" />
            </a>
            <hr />
        </div>
    }


    @*AUDI Q7*@
    @*/////////////*@

    @if (Model.Id == 4)
    {
        <div class="div-text">
            Start price from $61520
            <br>
            Universal SUV premium.
            <br>
            Audi Q7.
            <br>
            The latest multimedia and driver assistance systems,
            an impressive all-wheel-drive experience with intelligent quattro suspension solutions,
            a powerful design and a spacious interior that seats up to seven people - all with the Audi Q7.

        </div>
        <br>
        <img class="img-audi-wide" src="~/App_Images/audi-Q-7-view-1.jpg" alt="Q7-view-1" />
        <hr />
        <h2>Colors and wheels</h2>
        <div class="div-text">

            Design your Q7:
            <br>
            In the following gallery we show three colors of paintwork and three wheel options available for the Audi Q7.
            The Orca Black body version features 21-inch alloy wheels with a ten-spoke Audi Sport range.
            The Barrique Brown Audi Q7 rides on 22-inch alloy wheels from the Audi Sport five-spoke trapezoidal sleeve.
            The last combination is a car with a paint finish Matador Red and 22-inch alloy wheels Edge from the range of
            Audi Sport with five-spoke needles.
        </div>
        <br>
        <img class="img-audi-tall" src="~/App_Images/audi-Q-7-view-2.jpg" alt="Q7-view-2" />
        <hr />
        <div>
            <h2>Interior design</h2>
            <div class="div-text">
                Innovative and intuitive multimedia solutions let you continue to use digital technology in the Audi Q7.
                In front of you is a digital dashboard of the Audi virtual cockpit plus.
                The 12.3-inch high resolution display of this fully digital dashboard shows vehicle information such as engine speed
                and speed values. In addition to the classic instrument display, two more modes are available - Dynamik and Sport.
                Other features can be controlled using the standard MMI Navigation plus media system with the MMI touch panel.
            </div>
            <br>
        </div>
        <img class="img-audi" src="~/App_Images/audi-Q-7-inside.jpg" alt="Q7-inside-1" />
        <hr />
        <h2>Configurations</h2>

        <div class="div-cfg">
            <span class="span">1/3</span>
            <a href="/Config/Details/9">
                <img class="audi-config-img" src="~/App_Images/audi-Q-7-cfg-base.png" alt="Q7-configs-base-img" />
            </a>
            <span class="span">2/3</span>
            <a href="/Config/Details/12">
                <img class="audi-config-img" src="~/App_Images/audi-Q-7-cfg-comfort.png" alt="Q7-configs-comfort-img" />
            </a>
            <span class="span">3/3</span>
            <a href="/Config/Details/14">
                <img class="audi-config-img" src="~/App_Images/audi-Q-7-cfg-premium.png" alt="Q7-configs-premium-img" />
            </a>
            <hr />
        </div>
    }


    @*//////////////
        RENAULT KADJAR
        //////////////*@

    @if (Model.Id == 5)
    {
        <div class="div-text">
            Start price from $19 370
            <br>
            Crossover with a bright temperament
            <br>
            Athletic and expressive physique, stylish and unique looks are all about the new Renault KADJAR crossover. Clear lines, chrome elements of the radiator grille, a new form of fog lamp trim emphasize individuality. Lighting devices with LED technology, like magnets, are eye-catching. Fully LED headlamps and LED running lights with a corporate outline have also received integrated turn indicators.
            <br>
            The new KADJAR has a stunning look, you'll be proud of your car
            <br />
        </div>
        <br>
        <img class="img-renault" src="~/App_Images/renault-kadjar-view-1.jpg" alt="Kadjar view" />

        <hr />
        <div>
            <h2>Interior design</h2>
            <img class="img-renault" src="~/App_Images/renault-kadjar-inside-1.jpg" alt="Kadjar inside 1" />
            <hr />
            <div class="div-text">
                Elegance and comfort.
                Immerse yourself in the warm interior of the KADJAR Black Edition with stylish Alcantara® seat upholstery. Enjoy the comfort of heated front seats, adjustable seat and armrests, and experience the powerful sound of your favorite music with the Bose® Sound System.

                The black interior trim highlights the chrome details and numerous red stitching in your car.

            </div>
            <hr />
            <img class="img-renault" src="~/App_Images/renault-kadjar-inside-2.jpg" alt="Kadjar inside 2" />
        </div>

        <hr />
        <h2>Configurations</h2>

        <div class="div-cfg">
            <span class="span">1/3</span>
            <a href="/Config/Details/18">
                <img class="renault-config-img" src="~/App_Images/renault-kadjar-cfg-life.jpg" alt="Kadjar-configs-life-img" />
            </a>
            <span class="span">2/3</span>
            <a href="/Config/Details/19">
                <img class="renault-config-img" src="~/App_Images/renault-kadjar-cfg-zen.jpg" alt="Kadjar-configs-zen-img" />
            </a>
            <span class="span">3/3</span>
            <a href="/Config/Details/20">
                <img class="renault-config-img" src="~/App_Images/renault-kadjar-cfg-intense.jpg" alt="Kadjar-configs-intanse-img" />
            </a>
        </div>
        <hr />

    }

    @*//////////////
        RENAULT KOLEOS
        //////////////*@

    @if (Model.Id == 6)
    {
        <div class="div-text">
            Start price from $29 850
            <br />
            The crossover is both elegant and powerful
            <br>
            Its impressive design will simply astound you
            The dynamic look, sporty and solid profile,
            chrome lines and signature C-Shape daytime running LED lights create
            a unique and insightful Renault Koleos look and make everyone follow.
            Sit down and steer confidently!
        </div>
        <br>
        <img class="img-renault-wide" src="~/App_Images/renault-koleos-view-1.jpg" alt="koleos view" />

        <hr />
        <div>
            <h2>Interior design</h2>
            <img class="img-renault" src="~/App_Images/renault-koleos-inside-1.jpg" alt="koleos inside 1" />
            <hr />
            <div class="div-text">
                Get comfortable
                The new Renault KOLEOS invites you into the world of comfort.
                Spacious interior, numerous storage compartments,
                heated all passenger seats, customizable comfortable interior lighting, panoramic sunroof ...
                Travel first class.

            </div>
            <hr />
            <img class="img-renault" src="~/App_Images/renault-koleos-inside-2.jpg" alt="koleos inside 2" />
        </div>

        <hr />
        <h2>Configurations</h2>

        <div class="div-cfg">
            <span class="span">1/3</span>
            <a href="/Config/Details/21">
                <img class="renault-koleos-config-img" src="~/App_Images/renault-koleos-cfg-life.jpg" alt="koleos-configs-life-img" />
            </a>
            <span class="span">2/3</span>
            <a href="/Config/Details/22">
                <img class="renault-koleos-config-img" src="~/App_Images/renault-koleos-cfg-zen.jpg" alt="koleos-configs-zen-img" />
            </a>
            <span class="span">3/3</span>
            <a href="/Config/Details/23">
                <img class="renault-koleos-config-img" src="~/App_Images/renault-koleos-cfg-intense.jpg" alt="koleos-configs-intanse-img" />
            </a>
        </div>
        <hr />
    }

    @*//////////////
        RENAULT LOGAN
        //////////////*@

    @if (Model.Id == 7)
    {
        <div class="div-text">
            Start price from $11 460
            <br />

        </div>

        <br>
        <img class="img-renault-wide" src="~/App_Images/renault-logan-view-1.jpg" alt="koleos view" />

        <hr />
        <div>
            <h2>Interior design</h2>
            <img class="img-renault" src="~/App_Images/renault-logan-inside-1.jpg" alt="koleos inside 1" />
            <hr />

            <div class="div-text">


            </div>

            <hr />
            <img class="img-renault" src="~/App_Images/renault-logan-inside-2.jpg" alt="koleos inside 2" />
        </div>

        <hr />
        <h2>Configurations</h2>

        <div class="div-cfg">
            <span class="span">1/3</span>
            <a href="/Config/Details/15">
                <img class="renault-config-img" src="~/App_Images/renault-logan-cfg-life.jpg" alt="logan-configs-life-img" />
            </a>
            <span class="span">2/3</span>
            <a href="/Config/Details/16">
                <img class="renault-config-img" src="~/App_Images/renault-logan-cfg-life-pl.jpg" alt="logan-configs-life+-img" />
            </a>
            <span class="span">3/3</span>
            <a href="/Config/Details/17">
                <img class="renault-config-img" src="~/App_Images/renault-logan-cfg-zen.jpg" alt="logan-configs-life-img" />
            </a>
        </div>
        <hr />
    }
    @*AUDI A8*@
    @*/////////////*@

    @if (Model.Id == 8)
    {
        <div class="div-text">
            Start price from $72 660
            <br />
            New Audi A8.
            <br />
            We have always promised to work ahead of the curve.
            We have never fulfilled our promises so comprehensively,
            as comprehensively as with the new Audi A8. It gives rise to a new design language,
            a new management idea, a new level of quality.
            The new Audi A8 represents the future of luxury cars.

        </div>

        <br />
        <img class="img-audi-wide" src="~/App_Images/audi-A-8-view-1.jpg" alt="A8-view-1" />

        <div>
            <hr />
            <h2>Visual contact with renewed vigor</h2>
            <div class="div-text">
                The noble exterior features combine exclusivity with a sporty
                character and vividly evoke the uniqueness of the Audi A8,
                while recalling the first quattro.

            </div>
            <br>
            <img class="img-audi" src="~/App_Images/audi-A-8-view-2.jpg" alt="A8-view-2" />
        </div>

        <div>
            <hr />
            <h2>Interior design</h2>

            <div class="div-text">
                Thanks to the multicolour combination of contour and interior lighting,
                precise light guides adorn the car interior.
                Elements of interior design are emphasized, making it more expressive.
            </div>
            <br />
            <img class="img-audi" src="~/App_Images/audi-A-8-inside-1.jpeg" alt="A8-inside-1" />
        </div>

        <hr />
        <h2>Configurations</h2>

        <div class="div-cfg">
            <span class="span">1/3</span>
            <a href="/Config/Details/25">
                <img class="audi-config-img" src="~/App_Images/audi-A-8-cfg-base.png" alt="A8-configs-base-img" />
            </a>
            <span class="span">2/3</span>
            <a href="/Config/Details/26">
                <img class="audi-config-img" src="~/App_Images/audi-A-8-cfg-comfort.png" alt="A8-configs-comfort-img" />
            </a>
            <span class="span">3/3</span>
            <a href="/Config/Details/27">
                <img class="audi-config-img" src="~/App_Images/audi-A-8-cfg-premium.png" alt="A8-configs-premium-img" />
            </a>
            <hr />
        </div>
    }

    @*AUDI A6*@
    @*/////////////*@

    @if (Model.Id == 9)
    {
        <div class="div-text">
            Start price from $47 230
            <br />
            When design is combined with efficiency and sportiness is with style.
            When innovation and completeness coexist, and progressive elegance is felt in every line.
            When form and functionality become a challenge and priority is given to progress.
            Then a new leader emerges in business class: the Audi A6 Limousine.
            Even more athletic. Majestic, as always.
        </div>

        <br />
        <img class="img-audi-wide" src="~/App_Images/audi-A-6-view-1.jpg" alt="A6-view-1" />

        <div>
            <hr />
            <div class="div-text">
                Audi Singleframe enlarged radiator grille,
                chrome-style side air intakes,
                narrow headlights - the front of the A6 Limousine impresses
                with its progressiveness at first glance.
                The clearly defined wings lines with powerful wheel arches
                highlight the power of the all-wheel drive quattro.
                Exterior mirrors on the door give the sedan a sporty look.
                And the coupe-style roofline elegantly goes into the embossed back
                with distinctive aluminum elements.

            </div>
            <br>
            <img class="img-audi" src="~/App_Images/audi-A-6-view-2.jpg" alt="A6-view-2" />
        </div>

        <div>
            <hr />
            <h2>Interior design</h2>

            <div class="div-text">
                The light package for illumination of the contours
                of the interior elements (optional) captivates
                the look and creates a unique atmosphere of comfort in the A6 Limousine.
                Ideal fiber optic lines emphasize the perfection of the instrument panel,
                center console, and other expressive design elements,
                highlighting them (30 backlight colors available) and adjusting the light brightness as needed.
            </div>
            <br />
            <img class="img-audi-wide" src="~/App_Images/audi-A-6-inside-1.jpeg" alt="A6-inside-1" />
        </div>

        <hr />
        <h2>Configurations</h2>

        <div class="div-cfg">
            <span class="span">1/3</span>
            <a href="/Config/Details/28">
                <img class="audi-config-img" src="~/App_Images/audi-A-6-cfg-base.png" alt="A6-configs-base-img" />
            </a>
            <span class="span">2/3</span>
            <a href="/Config/Details/29">
                <img class="audi-config-img" src="~/App_Images/audi-A-6-cfg-comfort.png" alt="A6-configs-comfort-img" />
            </a>
            <span class="span">3/3</span>
            <a href="/Config/Details/30">
                <img class="audi-config-img" src="~/App_Images/audi-A-6-cfg-premium.png" alt="A6-configs-premium-img" />
            </a>
            <hr />
        </div>
    }

    @*AUDI Q8*@
    @*/////////////*@

    @if (Model.Id == 10)
    {
<div class="div-text">
    Start price from $71 320
    <br />
    Expressive design, cutting-edge technology and the arts to meet the highest demands -
    the new Audi Q8 combines all the key features of the brand.
    Its sporty exterior is clearly associated with the design of the first quattro,
    and the new octagonal grille Singleframe clearly indicates the future.
</div>

        <br />
        <img class="img-audi-wide" src="~/App_Images/audi-Q-8-view-1.jpg" alt="Q8-view-1" />

        <div>
            <hr />
            <div class="div-text">
                
                The interior of the four-door SUV is reminiscent of a seating area: it is spacious,
                luxurious and offers extensive communication facilities.
                A variety of intelligent systems, ranging from MMI touch response to voice control,
                and a high-tech navigation system, go straight to the digital age.
                The chassis and the drive are complemented by their confident maneuverability,
                and when needed - even off-paved roads.

            </div>
            <br>
            <img class="img-audi" src="~/App_Images/audi-Q-8-view-2.jpg" alt="Q8-view-2" />
        </div>

        <div>
            <hr />
            <h2>Interior design</h2>

            <div class="div-text">
                Sit down and enjoy. 
                Thanks to its width of two meters, 
                the Audi Q8 in the role of the SUV provides an extraordinary sense of space. 
                Restrained, noble design, custom contour seats with massage and ventilation features, 
                a four-zone automatic air conditioning system and an air quality package emphasize 
                the sophistication of the interior atmosphere.

            </div>
            <br />
            <img class="img-audi" src="~/App_Images/audi-Q-8-inside-1.jpeg" alt="Q8-inside-1" />
        </div>

        <hr />
        <h2>Configurations</h2>

        <div class="div-cfg">
            <span class="span">1/3</span>
            <a href="/Config/Details/31">
                <img class="audi-config-img" src="~/App_Images/audi-Q-8-cfg-base.png" alt="Q8-configs-base-img" />
            </a>
            <span class="span">2/3</span>
            <a href="/Config/Details/32">
                <img class="audi-config-img" src="~/App_Images/audi-Q-8-cfg-comfort.png" alt="Q8-configs-comfort-img" />
            </a>
            <span class="span">3/3</span>
            <a href="/Config/Details/33">
                <img class="audi-config-img" src="~/App_Images/audi-Q-8-cfg-premium.png" alt="Q8-configs-premium-img" />
            </a>
            <hr />
        </div>
    }

    @*AUDI Q5*@
    @*/////////////*@

    @if (Model.Id == 11)
    {
<div class="div-text">
    Start price from $47 010
    <br />
    Don't rely on the case.
    No matter whether it is comfort, style or dynamics, 
    the new Audi Q5 will immediately convince you. His appearance is so expressive, 
    his engine is so powerful, his technology is so new. 
    And so many of its possibilities.
    Every day is a new one with the new Audi Q5.
</div>

        <br />
        <img class="img-audi-wide" src="~/App_Images/audi-Q-5-view-1.jpg" alt="Q5-view-1" />

        <div>
            <hr />
            <div class="div-text">
                Every detail of the Audi Q5 is created in a distinctive Q-design 
                and embodies dynamics and independence. For example, 
                a clear hood or a flat inclined roof line, 
                located on the side line of the rearview mirror and a narrow glass line.

            </div>
            <br>
            <img class="img-audi" src="~/App_Images/audi-Q-5-view-2.jpg" alt="Q5-view-2" />
        </div>

        <div>
            <hr />
            <h2>Interior design</h2>

            <div class="div-text">
                The interior of the new Audi Q5 is driver-oriented and,
                thanks to its increased wheelbase, offers more space and individuality.
                You can choose from many details, from high-quality materials such as optional 
                Nappa leather in striking colors to lightening elements. In the dark,
                the optional interior illumination accentuates with 30 different individually selected colors.
                Even the decorative overlays on the dashboard are highlighted.

            </div>
            <br />
            <img class="img-audi" src="~/App_Images/audi-Q-5-inside-1.jpeg" alt="Q5-inside-1" />
        </div>

        <hr />
        <h2>Configurations</h2>

        <div class="div-cfg">
            <span class="span">1/3</span>
            <a href="/Config/Details/35">
                <img class="audi-config-img" src="~/App_Images/audi-Q-5-cfg-base.png" alt="Q5-configs-base-img" />
            </a>
            <span class="span">2/3</span>
            <a href="/Config/Details/36">
                <img class="audi-config-img" src="~/App_Images/audi-Q-5-cfg-comfort.png" alt="Q5-configs-comfort-img" />
            </a>
            <span class="span">3/3</span>
            <a href="/Config/Details/37">
                <img class="audi-config-img" src="~/App_Images/audi-Q-5-cfg-premium.png" alt="Q5-configs-premium-img" />
            </a>
            <hr />
        </div>
    }

</body>        