@using CarStore.Models
@model IEnumerable<CarStore.Models.CarModel>

@{
    ViewBag.Title = "MODELS";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <head>
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        <meta name="viewport" content="width=device-width" />
        <link type="text/css" rel="stylesheet" href="../../Content/ViewsCSS/CarModelIndex.css" />
        <link type="text/css" rel="stylesheet" href="../../Content/Site.css" />
        <link href="https://fonts.googleapis.com/css?family=Baloo+Chettan+2|Barlow+Condensed:400,700|Open+Sans:400,700|Oswald:400,700&display=swap&subset=cyrillic-ext" rel="stylesheet">

    </head>

    <body>
        <h1>Models</h1>
        <hr />
        <table class="table-model">
            @foreach (var item in Model)
            {

                <tr class="tr-model">
                    <td class="td-model">
                        @*<a href="/CarModel/Details/@item.Id">
            @Html.DisplayFor(modelItem => item.Name)
        </a>*@
                    @{
                        @Html.ActionLink(item.Name, "Details", new { id = item.Id });
                        TempPurchase.BrandId = item.Id;
                    }
                    </td>
                    <td class="td-model">
                        
                        @*<a href="/CarModel/Details/@item.Id">*@
                        @*<a href="/CarModel/Details/@item.Id">*@
                            @if (item.Id == 1)
                            {
                                <img class="small-icon" src="~/App_Images/megane-small-icon.jpg" alt="Megane-small-icon" />
                            }
                            @if (item.Id == 2)
                            {
                                <img class="small-icon" src="~/App_Images/duster-small-icon.jpg" alt="Megane-small-icon" />
                            }
                        @*</a>*@
                    </td>
                    @*<td class="td-model">
                        <a href="/CarColor/Index">Color</a>
                    </td>
                    <td class="td-model">
                        <a href="/Config/Index/@item.Id">Configuration</a>
                    </td>*@
                </tr>
            }

        </table>

    </body>