@using CarStore.Models
@model IEnumerable<CarStore.Models.CarModel>

@{
    ViewBag.Title = "MODELS";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <head>
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        <meta name="viewport" content="width=device-width" />
        <link type="text/css" rel="stylesheet" href="../../Content/ViewsCSS/CarModelIndex.css" />
        <link type="text/css" rel="stylesheet" href="../../Content/Site.css" />
        <link href="https://fonts.googleapis.com/css?family=Baloo+Chettan+2|Barlow+Condensed:400,700|Open+Sans:400,700|Oswald:400,700&display=swap&subset=cyrillic-ext" rel="stylesheet">

    </head>

    <body>
        <h1>Models</h1>
        <hr />
        <div class="div-empty">
            @if (Model.Count() == 0)
            {
                <h2>Unfortunately, list is empty.</h2>
            }
        </div>
        <table class="table-model">
            @foreach (var item in Model)
            {
                <tr class="tr-model">

                    <td class="td-model">
                        <a href="/PurchaseBuild/CarModelChoose/@item.Id">@item.Name</a>
                    </td>
                    <td class="td-model">
                        @if (item.Id == 1)
                        {
                            <img class="renault-small-icon" src="~/App_Images/renault-megane-small-icon.jpg" alt="Megane-small-icon" />
                        }
                        @if (item.Id == 2)
                        {
                            <img class="renault-small-icon" src="~/App_Images/renault-duster-small-icon.jpg" alt="Duster-small-icon" />
                        }
                        @if (item.Id == 3)
                        {
                            <img class="audi-small-icon" src="~/App_Images/audi-RS-7-small-icon.png" alt="RS7-small-icon" />
                        }
                        @if (item.Id == 4)
                        {
                            <img class="audi-small-icon" src="~/App_Images/audi-Q-7-small-icon.png" alt="Q7-small-icon" />
                        }
                    </td>
                </tr>
            }

        </table>

        <a class="back-link" href="/CarType/Index">Back to types</a>

    </body>