@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home Page";
}
<body>
    <div>
        <h2><br>Welcome to 'RS' auto shop</h2>
        <br>
        <img src="~/App_Images/LogoImg.png" alt="Logo" class="logo" />
    </div>
</body>
