@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home Page";
}

    <head>
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        <meta name="viewport" content="width=device-width" />
        <link type="text/css" rel="stylesheet" href="../../Content/Site.css" />
        <link type="text/css" rel="stylesheet" href="../../Content/ViewsCSS/HomeIndex.css" />
        <link href="https://fonts.googleapis.com/css?family=Baloo+Chettan+2|Barlow+Condensed:400,700|Open+Sans:400,700|Oswald:400,700&display=swap&subset=cyrillic-ext" rel="stylesheet">
    </head>


    <body class="container-intro">

        <div class="content">
            <div>
                <div class="intro-div">
                    Welcome to "RS-store"
                </div>
                <div class="description-div">
                    <br>Here you can find a wide range of different cars.<br>And choose the one that suits you.
                </div>
            </div>

            <div class="img-div">
                <img src="~/App_Images/MainLogo.png" alt="Logo_img" class="logo-img" />
            </div>
        </div>
        <br>
        <h1>Brands info pages</h1>
        <br>
        <div>
            <a href="/Brand/Details/1">
                <img src="~/App_Images/renault-logo.jpg" alt="Renault_img" class="renault-img" />
            </a>
            <a href="/Brand/Details/2">
                <img src="~/App_Images/audi-logo.png" alt="Audi-img" class="audi-img" />
            </a>
        </div>
        <br>
        <a href="/Purchase/Create">(Purchase)</a> @*dev*@
        <div>
            @Html.ActionLink("(Back to List)", "Index", "Purchase") @*dev*@
        </div>
    </body>
