@model IEnumerable<CarStore.Models.Brand>

@{
    ViewBag.Title = "BRANDS";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <head>
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        <meta name="viewport" content="width=device-width" />
        <link type="text/css" rel="stylesheet" href="../../Content/Site.css" />
        <link type="text/css" rel="stylesheet" href="../../Content/ViewsCSS/BrandIndex.css" />
        <link href="https://fonts.googleapis.com/css?family=Baloo+Chettan+2|Barlow+Condensed:400,700|Open+Sans:400,700|Oswald:400,700&display=swap&subset=cyrillic-ext" rel="stylesheet">
    </head>

    <body>
        <h1>Brand</h1>
        <hr />
        <table class="table-brand">
            @foreach (var item in Model)
            {
            <tr class="tr-brand">
                <td class="td-brand">


                    @if (item.Id == 1)
                    {
                        <img class="small-icon" src="~/App_Images/renault-logo.jpg" alt="Renault-icon" />
                    }
                    @if (item.Id == 2)
                    {
                        <img class="small-icon" src="~/App_Images/audi-logo.png" alt="Audi-icon" />
                    }

                </td>
                <td class="td-brand">
                    <a href="/Brand/Details/@item.Id">Details</a>
                </td>
                    <td class="td-brand">
                        <a href="/CarModel/Index/@item.Id">View cars</a>
                    </td>

            </tr>
            }

        </table>
    </body>